.drawer-content {
    width: 100%;
    display: flex; /* Utilisation de flexbox pour la mise en page */
    flex-direction: column; /* Organisation verticale */
    /*align-items: center; /* Centrage horizontal */
    /*padding: 20px; /* Ajout de padding pour l'espace */
}

/*--------head------------*/
.head {
    padding: 20px 0;
    color: #fff;
  }
  .logo h1 {
    font-size: 35px;
    font-weight: 900;
  }
  .head .icon {
    margin-left: 10px;
  }
  /*--------head------------*/

head {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 30px;
  }
  head .nav {
    display: flex !important;
  }
  head li {
    margin-right: 40px;
  }
  head ul {
    padding: 30px 20px;
  }
  head ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
  }
  head ul li a:hover {
    color: #1eb2a6;
  }
  .start {
    background-color: #1eb2a6;
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .toggle {
    display: none;
  }