.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-family: sans-serif;
  width: 100%; /* Assure que le footer prend toute la largeur */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.footer-content {
  max-width: 1200px; /* Ajustez cette valeur selon la largeur maximale de votre contenu */
  margin: 0 auto;
  text-align: center;
  width: 100%; /* Assure que le contenu prend toute la largeur disponible */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.logo {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;

 
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%; /* Assure que le contenu prend toute la largeur disponible */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.phone-icon,
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.phone-number,
.email,
.social-link {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.phone-number:hover,
.email:hover,
.social-link:hover {
  text-decoration: underline;
}

.contact-text,
.follow-text {
  margin: 0 5px;
}

.footer-divider {
  border: 1px solid #333;
  margin: 20px 0;
  width: 100%; /* Assure que le séparateur prend toute la largeur */
}

.copyright,
.powered-by {
  font-size: 0.8em;
  margin-top: 10px;
}